import(magrittr)
import(snow)

export(.strmr_loop, strm_yield_, backend)

S3method(strm_yield_, default)
S3method(close, strm_backend)
S3method(print, strm_yield_status)
S3method(print, strm_yield_)
S3method(print, strm_backend)
